@media screen and (min-width: 800px) {
    .content_sub .scrollmenu {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    /* -------------------HEADER------------------- */
    .header .content_header {
        padding: 20px;
    }
    .content_header .logo_header img {
        width: 50px;
    }
    .menu_mobile .actualiza {
        display: none;
    }
    .offcanvas.offcanvas-start {
        width: 100%;
    }
    .menu_mobile .menu_ .btn_nav {
        font-size: 25px;
    }
    .canvas_menu .head_canva img {
        width: 60px;
    }
    .iconos_header .right_suscribe .boton_suscribe {
        font-size: 11px;
        border-radius: 4px;
    }

    /* -------------------SUB MENU-------------- */
    .sub_menu .content_sub {
        padding: 5px 20px 0px 20px;
    }
    .content_sub .contenedor_item_sub {
        display: none;
    }
    .content_sub .menu_logo_mob img {
        margin-right: 20px;
    }
    .content_sub .scrollmenu .sub_menu_cat .item_cat {
        padding: 0px 10px;
        font-weight: 700;
    }
    .content_sub .scrollmenu .sub_menu_cat .sub_bus {
        font-size: 15px;
        padding: 7px;
        margin: 5px 0px;
    }
    .row {
        width: 100%;
    }

    /* -------------------COVER-------------- */
    .cover .content_cover {
        padding: 40px 20px 0px 20px;
    }
    .content_cover .destacada {
        height: 300px;
    }
    .destacada .pos_dest {
        padding: 20px;
    }
    .destacada .pos_dest .public_dest {
        font-size: 13px;
    }
    .destacada .pos_dest .titulo_dest {
        font-size: 20px;
    }
    .destacada .pos_dest .btn_ver {
        font-size: 13px;
        padding: 5px 10px;
    }
    .cover .wrapper {
        padding: 20px;
    }

    /* ---------------BUSCADOR------------------ */
    .buscador .contenido-buscador {
        padding: 0px 20px;
    }
    .head_buscador_sid .titulo_buscar_sid {
        font-size: 15px;
        margin-bottom: 0;
    }
    .contenido-buscador .selectores_cat {
        display: flex;
        flex-direction: column;
    }
    .selectores_cat .seleccion {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* -----------------MOD VIDEOS EMB_VID----------------- */
    .emb_vid {
        padding: 20px;
    }
    .carousel_vid .card_vid .video_you {
        height: 220px;
    }
    .emb_vid .descrip_vid .bot_negro {
        margin-bottom: 20px;
    }

    /* -----------------HEAD GLOBAL--------------- */
    .content_global .titulo_global {
        font-size: 20px;
    }

    /* ---------------CARRETE CAJAS------------- */
    .carrete_cajas {
        padding: 20px;
    }
    .caja_info .pie_caja .link_ev {
        font-size: 18px;
    }

    /* ------------------EVENTOS DE LA GENTE------------------ */
    .eventos_home {
        padding: 50px 20px;
    }
    .eventos_home .content_eventos_home {
        display: flex;
        flex-direction: column;
    }
    .content_eventos_home .left_eventos {
        width: 100%;
        text-align: center;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .content_eventos_home .right_eventos {
        width: 100%;
    }

    /* ---------------SECCION CATEGORÍAS---------------- */
    .seccion .content_seccion {
        padding: 20px;
    }
    .content_seccion .img_gen {
        height: 300px;
    }
    .img_gen .pos_gen .link_sec_gen .descrip_destacada {
        font-size: 20px;
        margin: 20px;
    }
    .categorias_sec {
        margin-bottom: 50px;
    }
    .head_sec .content_head_sec {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .content_head_sec .log_sec {
        display: flex;
        justify-content: flex-start;
    }
    .content_head_sec .log_sec .logotipo_sec {
        display: none;
    }
    .content_head_sec .sub_sec {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .content_head_sec .sub_sec .link_sub_sec {
        font-size: 13px;
        padding: 0px 5px;
        margin: 0px 2px;
    }

    .categorias_sec .content_categorias {
        padding:0px 20px;
        display: flex;
        flex-direction: column;
    }
    .content_categorias .nota_mayor {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 0;
    }
    .nota_mayor .head_evento {
        text-align: center;
        margin-bottom: 20px;
    }
    .nota_mayor .head_evento .titulo_evento {
        font-size: 20px;
        line-height: 18px;
    }
    .log_sec .nombre_sec .link_seccion {
        font-size: 22px;
    }
    .content_head_sec .log_sec .nombre_sec .titulo_negro {
        font-size: 25px;
    }

    /* -------NOTA MID--------- */
    .nota_mayor .nota_mid {
        display: flex;
        flex-direction: column;
    }
    .nota_mid .img_nota_mid {
        width: 100%;
        margin-bottom: 20px;
    }
    .img_nota_mid .pos_mid .etiqueta_mid{
        font-size: 13px;
        padding: 3px 10px;
    }
    .nota_mid .info_mid {
        width: 100%;
        padding-left: 0;
    }
    .info_mid .titulo_mid {
        font-size: 20px;
        line-height: 20px;
    }
    .info_mid .parrafo_mid {
        font-size: 14px;
    }
    .info_mid .fecha_mid {
        font-size: 13px;
    }
    /* --------NOTA PEQUEÑA-------- */
    .columna_notas .notas_peq_ {
        display: flex;
        flex-direction: column;
    }
    .notas_peq_ .nota_pequeña {
        width: 100%;
    }
    /* --------INT EVENTO----------- */
    .nota_mayor .admin .item_pub {
        font-size: 11px;
    }
    .nota_mayor .admin .item_pub i {
        font-size: 15px;
    }
    .nota_mayor .etiquetas_nota .et_not {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .bio_evento .parrafo_evento {
        font-size: 14px;
    }
    .bio_evento .sub_titulo_ev {
        font-size: 15px;
    }
    .nota_mayor .texto_evento .parrafo_evento {
        font-size: 14px;
    }
    .nota_mayor .img_secundaria {
        display: flex;
        flex-direction: column;
    }
    .nota_mayor .img_secundaria img {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .nota_mayor .img_secundaria .parrafo_img {
        font-size: 14px;
    }
    .bloque_info .nota_aling {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .nota_aling .col_aling {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .content_categorias .ultima_nota {
        margin-top: auto;
        order: 3;
    }
    .content_categorias .sin_margen {
        padding-left: 0;
        border-left: 0;
        min-height: auto;
    }
    .nota_mayor .img_mayor img {
        height: 300px;
    }
    .info_img_mayor .bot_my .link_evento {
        font-size: 20px;
    }
    .img_mayor .info_img_mayor .head_my .etiqueta_my {
        font-size: 13px;
    }
    .content_categorias .float_right {
        padding-left: 0;
    }
    .content_categorias .sidebar_notas {
        width: 100%;
        margin-top: auto;
        order: 2;
    }
    .buscador_sidebar .ads_ {
        display: none;
    }

    /* ---------------------CARTOGRAFIAS------------ */
    .info_back {
        margin-bottom: 20px;
    }
    .info_back .content_info_back {
        padding: 20px;
    }
    .content_info_back .info_text_back {
        width: 100%;
        text-align: center;
    }
    .info_text_back .titulo_back {
        font-size: 20px;
    }
    .info_text_back .parrafo_back {
        font-size: 15px;
        color: #fff;
    }

    /* ---------------------CARDS------------------- */
    .cards {
        padding: 20px;
    }
    
    /* ----------------------INTERNA VIDEO----------------- */
    .contenido_video_dc .embebido .video_youtube {
        height: 270px;
    }
    .contenido_video_dc .embebido .titulo_video {
        font-size: 20px;
    }
    .pie_video .pub_vid {
        font-size: 11px;
        margin-right: 10px;
    }
    /* ---------------------FOOTER------------------------- */
    .footer .content_footer {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .content_footer .col_footer {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .col_footer .head_col {
        margin-bottom: 10px;
    }
    .col_footer .body_col .link_footer {
        font-size: 15px;
        margin-bottom: 0;
    }
    .copy .content_copy {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .content_copy .right_copy {
        margin: auto;
    }
    .col_footer .redes_footer .red_ft {
        margin: auto;
    }
    .content_copy .logo_copy {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .content_copy .contacto_copy {
        margin-bottom: 10px;
    }
    .content_copy .contacto_copy .link_copy {
        font-size: 13px;
    }
}